params {
    s3_location = "s3://lifebit-featured-datasets/IGV"
    output_file = "design.csv"
    stage_files = false
    step = false
    design = false
    maxForks = 1000
    queueSize = 200
    sleepTime = 100
}

docker.enabled = true

process {
    container = 'quay.io/lifebitai/ubuntu:18.10'
    cpus = 1
    maxForks = params.maxForks
    withName: tabix_file {
        container = 'quay.io/lifebitai/samtools:latest'
    }
}

executor {
    queueSize = params.queueSize
}

env {
    NXF_DEBUG = 3
}